.youtubeCard {
    width: 300px;
    transition: all 0.5s;
    padding: 1vmax;
    margin: 2vmax;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  .youtubeCard > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.712);
    width: inherit;
  }
  
  .youtubeCard img {
    width: inherit;
  }
  
  .youtubeCard:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
  }
  
  @media screen and (max-width: 600px) {
    .youtubeCard {
      width: 200px;
    }
  }


  .youtubeCard1{
    width: 65%;
    padding: 20px;
    text-align: center;
    border: 2px solid teal;
    margin: auto;
    margin-bottom: 45px;
    border-radius: 2rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    transform: scale(1.1);
  }

  /* .youtubeCard1 >:hover {
    transform: scale(1.2);
  } */
  
  /* .youtubeCard1 > p:hover {
    box-shadow: 0 0 10px rgba(8, 170, 38, 0.212);
   
    transform: scale(1.0.);
  } */





  .headings{
    color:blue;
    font: 550 1.5vmax "Josefin Sans", sans-serif;
    font-family:  Georgia, 'Times New Roman', Times, serif;

  }

  .p1{
    color:rgb(10, 10, 10);
    font: 550 1.2vmax "Josefin Sans", sans-serif;
    font-family:  Georgia, 'Times New Roman', Times, serif;
     

  }